services:
  nginx:
    image: nginx:alpine
    container_name: voyager-backend-nginx
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./ssl:/etc/nginx/ssl:ro
    command: ["nginx", "-g", "daemon off;"]
